body {
	background-image: url('img3.jpg'); /* Replace 'your_background_image.jpg' with the path to your image */
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }

  .header, .footer {
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color for header and footer */
	padding: 20px 0;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
  }

  .signup-container {
	width: 300px;
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
	transition: transform 0.3s ease;
  }

  .signup-container:hover {
	transform: scale(1.05);
  }

  .signup-container h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
  }

  .form-group {
	margin-bottom: 20px;
  }

  .form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #333;
  }

  .form-group input {
	width: calc(100% - 22px);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }

  .form-group input:hover,
  .form-group input:focus {
	border-color: #007bff;
  }

  .form-group .fa {
	position: relative;
	left: calc(100% - 20px);
	top: -38px;
	color: #999;
  }

  .btn {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }

  .btn:hover {
	background-color: #0056b3;
  }

  .footer {
	margin-top: auto;
  }

body {
	  padding-top: 40px;
	  padding-bottom: 40px;
}

#form-signin {
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
}
#form-signin .form-signin-heading,
#form-signin .checkbox {
	  margin-bottom: 10px;
}
#form-signin .checkbox {
	  font-weight: normal;
}
#form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  font-size: 16px;
}
#form-signin .form-control:focus {
	  z-index: 2;
}
#form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
}
#form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
}
